In [14]:
import requests
import pandas as pd
import urllib.request
import time
from bs4 import BeautifulSoup
import re

In [2]:
url="https://en.wikipedia.org/wiki/2020_coronavirus_pandemic_in_Karnataka"
response=requests.get(url)

In [3]:
soup = BeautifulSoup(response.text, "html.parser")

In [4]:
def remove_html_tags(text):
    """Remove html tags from a string"""
    text=str(text)
    clean = re.compile('<.*?>')
    return re.sub(clean, '', text)

In [58]:
def get_count(text):
    text=str(text)
    num=int(re.findall(r'\d+', text)[0])
    return num

print(get_count("2223*"))

2223

In [59]:
soup=BeautifulSoup(response.text,"html.parser")
dates=soup.findAll('td',{'colspan':'2','style':'padding-left:0.4em; padding-right:0.4em; text-align:center'})
table=soup.findAll('td',{'style':'border-left:1px solid silver; border-right:1px solid silver'})

In [60]:
dates=[remove_html_tags(x) for x in dates]

active=list()
death=list()
recovered=list()

In [61]:
for rows in table:
    row=rows.findAll('div')
    active.append(row[2].get('title').replace(",",""))
    death.append(row[0].get('title').replace(",",''))
    recovered.append(row[1].get('title').replace(",",""))

In [62]:
active=list(map(int,active))
death=list(map(int,death))
recovered=list(map(int,recovered))

In [63]:
daily=pd.DataFrame(zip(dates,active,recovered,death),columns=['dates','active','recovered','death'])

In [64]:
daily

         dates  active  recovered  death
0    2020-03-9       1          0      0
1   2020-03-10       3          0      0
2   2020-03-11       4          0      0
3   2020-03-12       4          0      1
4   2020-03-13       5          0      1
5            ⋮       5          0      1
6   2020-03-15       6          0      1
7   2020-03-16       7          0      1
8   2020-03-17      13          0      1
9   2020-03-18      13          0      1
10  2020-03-19      13          0      1
11           ⋮      14          0      1
12  2020-03-21      18          1      1
13  2020-03-22      24          1      1
14  2020-03-23      31          1      1
15  2020-03-24      37          3      1
16  2020-03-25      47          3      1
17  2020-03-26      50          3      2
18  2020-03-27      56          5      3
19  2020-03-28      68          5      3
20  2020-03-29      75          5      3
21  2020-03-30      79          6      3
22  2020-03-31      90          8      3

In [65]:
daily.loc[5,['dates']]='2020-03-14'

In [66]:
daily

         dates  active  recovered  death
0    2020-03-9       1          0      0
1   2020-03-10       3          0      0
2   2020-03-11       4          0      0
3   2020-03-12       4          0      1
4   2020-03-13       5          0      1
5   2020-03-14       5          0      1
6   2020-03-15       6          0      1
7   2020-03-16       7          0      1
8   2020-03-17      13          0      1
9   2020-03-18      13          0      1
10  2020-03-19      13          0      1
11           ⋮      14          0      1
12  2020-03-21      18          1      1
13  2020-03-22      24          1      1
14  2020-03-23      31          1      1
15  2020-03-24      37          3      1
16  2020-03-25      47          3      1
17  2020-03-26      50          3      2
18  2020-03-27      56          5      3
19  2020-03-28      68          5      3
20  2020-03-29      75          5      3
21  2020-03-30      79          6      3
22  2020-03-31      90          8      3